[submodule "Libraries/void_switch_kicad"]
	path = Libraries/void_switch_kicad
	url = https://github.com/becauseimclever/void_switch_kicad.git
[submodule "Libraries/void_switch"]
	path = Libraries/void_switch
	url = https://github.com/becauseimclever/void_switch.git
[submodule "Libraries/KiCad-RP-Pico"]
	path = Libraries/KiCad-RP-Pico
	url = https://github.com/Fortinbra/KiCad-RP-Pico.git
